:root {
  --breakpoint: 1024px; // or any global you wish to share with components
}

//Theme can be customized by overriding the variables defined in this file

$primaryColor: #1174c0 !default;
$primaryLightColor: scale-color($primaryColor, $lightness: 60%) !default;
$primaryDarkColor: scale-color($primaryColor, $lightness: -10%) !default;
$primaryDarkerColor: scale-color($primaryColor, $lightness: -20%) !default;
$primaryTextColor: #ffffff !default;

$colors: (
    "blue": #1e85d3,
    "green": #38a958,
    "yellow": #f0c135,
    "cyan": #21c1f3,
    "pink": #d74853,
    "indigo": #114cc0,
    "teal": #107d79,
    "orange": #f08f35,
    "bluegray": #697077,
    "purple": #8949f8,
    "red": #ff2b32,
    "primary": $primaryColor,
) !default;

$highlightBg: #44a1d9 !default;
$highlightTextColor: #ffffff !default;
$highlightFocusBg: darken($primaryColor, 0.08) !default;

//reused color variables
$shade000: #ffffff !default; //surface
$shade100: #f2f4f8 !default; //header background
$shade200: #dde1e6 !default; //hover background
$shade300: #dee2e6 !default; //border, divider
$shade400: #a5acb3 !default; //input border
$shade500: #878d96 !default; //input icon
$shade600: #697077 !default; //text secondary color
$shade700: #000000 !default; //text color
$shade800: #0191CB !default; //unused
$shade900: #ffffff !default; //unused

//global
$accordionHeaderActiveBg: linear-gradient(180deg, #01d4ce 0%, #007fca 100%) ;
$borderRadius: 8px !default;


$transitionDuration: 0.2s !default;
$listItemTransition: box-shadow $transitionDuration !default;
$divider: 1px solid $shade300 !default;
$inlineSpacing: 0.5rem !default;


//focus
$focusOutlineColor: $primaryLightColor !default;
$focusOutline: 0 none !default;
$focusOutlineOffset: 0 !default;
$focusShadow: 0 0 0 0.2rem $focusOutlineColor !default;

// //panel
$panelHeaderBorderColor: $shade300 !default;
$panelHeaderBorder: 1px solid $shade300 !default;
$panelHeaderBg: $shade900 !default;
$panelHeaderTextColor: $shade700 !default;
$panelHeaderFontWeight: 600 !default;
$panelHeaderPadding: 0.75rem !default;
$panelContentBorder: 1px solid $shade300 !default;
$panelContentBg: $shade000 !default;
$panelContentTextColor: $shade700 !default;


// //accordion
$accordionSpacing: 4px !default;
$accordionHeaderBorder: $panelHeaderBorder !default;
$accordionHeaderBg: $panelHeaderBg !default;
$accordionHeaderTextColor: $panelHeaderTextColor !default;
$accordionHeaderFontWeight: $panelHeaderFontWeight !default;
$accordionHeaderPadding: $panelHeaderPadding !default;

$accordionHeaderHoverBg: $shade200 !default;
$accordionHeaderHoverBorderColor: $shade300 !default;
$accordionHeaderTextHoverColor: $shade700 !default;
$accordionHeaderActiveBorderColor: $shade300 !default;
$accordionHeaderTextActiveColor: $shade900 !default;

$accordionHeaderActiveHoverBorderColor: $shade300 !default;
$accordionHeaderTextActiveHoverColor: $shade900 !default;

$accordionContentBorder: $panelContentBorder !default;
$accordionContentBg: $panelContentBg !default;
$accordionContentTextColor: $panelContentTextColor !default;

//Tree
$treeNodeChildrenPadding: 0 0 0 1rem !default;


//Menu
$menuitemPadding: 0.5rem 0.5rem !default;
$menuitemBorderRadius: 0 !default;
$menuitemTextColor: $shade700 !default;
$menuitemIconColor: $shade700 !default;
$menuitemTextHoverColor: $shade800 !default;
$menuitemIconHoverColor: $shade800 !default;
$menuitemHoverBg: $shade000 !default;
$menuitemTextFocusColor: $shade800 !default;
$menuitemIconFocusColor: $shade800 !default;
$menuitemFocusBg: $shade000#d2d6db !default;
$menuitemTextActiveColor: $shade800 !default;
$menuitemIconActiveColor: $shade800 !default;
$menuitemActiveBg: $shade000 !default;
$menuitemActiveFocusBg: $shade000 !default;
$verticalMenuPadding: 0.25rem 0 !default;
$menuSeparatorMargin: 0.25rem 0 !default;

$scrollPanelTrackBg: $shade800 !default;
