:root {
    --breakpoint: 1024px; // or any global you wish to share with components
}

$primaryColor: #9ecaff !default;
$primaryLightColor: #d1e4ff !default;
$primaryDarkColor: #62b0ff !default;
$primaryDarkerColor: #3a95e7 !default;
$primaryTextColor: #000000 !default;

$secondaryColor: #b8c8de !default;
$secondaryLightColor: #d4e4fb !default;
$secondaryDarkColor: #9dacc2 !default;
$secondaryDarkerColor: #8292a7 !default;
$secondaryTextColor: #000000 !default;

$successColor: #b7f1ae !default;
$successLightColor: #c9ffbf !default;
$successDarkColor: #86da80 !default;
$successDarkerColor: #6cbd67 !default;
$successTextColor: #000000 !default;

$warningColor: #ffe17b !default;
$warningLightColor: #fff0c7 !default;
$warningDarkColor: #e4c451 !default;
$warningDarkerColor: #c7a938 !default;
$warningTextColor: #000000 !default;

$dangerColor: #ffb4ab !default;
$dangerLightColor: #ffdad6 !default;
$dangerDarkColor: #ff897d !default;
$dangerDarkerColor: #ff5449 !default;
$dangerTextColor: #000000 !default;

$infoColor: #99d0d6 !default;
$infoLightColor: #b5ecf2 !default;
$infoDarkColor: #7eb4ba !default;
$infoDarkerColor: #64999f !default;
$infoTextColor: #000000 !default;

$helpColor: #ffeb3b !default;
$helpLightColor: #fff9c4 !default;
$helpDarkColor: #fbc02d !default;
$helpDarkerColor: #f57f17 !default;
$helpTextColor: #000000 !default;

$grayColor: #c3c7cf !default;
$grayLightColor: #dfe2eb !default;
$grayDarkColor: #a7abb4 !default;
$grayDarkerColor: #8d9199 !default;
$grayTextColor: #000000 !default;

$borderColor: #dfe2eb !default;
$borderLightColor: #edf1f9 !default;
$borderDarkColor: #c3c7cf !default;
$borderDarkerColor: #a7abb4 !default;

$backgroundColor: #f8f9ff !default;
$backgroundLightColor: #ffffff !default;
$backgroundDarkColor: #eceef4 !default;
$backgroundDarkerColor: #e1e2e8 !default;

$fontFamily: "Roboto", sans-serif !default;
$fontSize: 14px !default;
$lineHeight: 1.5 !default;
$fontWeight: 400 !default;

$borderRadius: 4px !default;
$borderWidth: 1px !default;

$padding: 10px !default;
$paddingSmall: 5px !default;
$paddingLarge: 20px !default;

$highlightBg: #eff6ff !default;
$highlightTextColor: $primaryDarkerColor !default;
$highlightFocusBg: rgba($primaryColor, 0.24) !default;

//numo special

$numoGradient: linear-gradient(180deg, $primaryColor, $infoColor) !default;
$numoHighlightColor: $primaryColor !default;

//rewrites
//$accordionHeaderActiveBg: $numoGradient;

@import "./variable";
@import "./_fonts";
@import "./components";
@import "./_extensions";

.p-confirm-dialog-icon {
    display: none; /* Hide the icon */
}

.p-confirm-dialog-message {
    margin: 0;
}
.p-dataview-content {
    background: transparent;
}

.usermenu {
    color: $shade800;
    font-weight: bold;
    padding-right: 25px;
    position: relative;
    ::before {
        content: "";
        position: absolute;
        right: 0;
        transform: translateY(-50%);
        top: 50%;
        display: block;
        width: 25px;
        height: 25px;
        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000' d='M12.707 15.707a1 1 0 0 1-1.414 0L5.636 10.05A1 1 0 1 1 7.05 8.636l4.95 4.95l4.95-4.95a1 1 0 0 1 1.414 1.414z'/%3E%3C/g%3E%3C/svg%3E");
        background-color: currentColor;
        -webkit-mask-image: var(--svg);
        mask-image: var(--svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
    }

    .text-ellipsis {
        display: block; /* Important for ellipsis to work */
        max-width: 200px; /* Adjust the width as needed */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $shade800;
        font-weight: normal;
    }
}

.p-scrollpanel.custom-scrollbar .p-scrollpanel-bar {
    background-color: var(--primary-300);
    opacity: 1;
    transition: background-color 0.2s;
}
.daycalendar {
    white-space: nowrap;
    button {
        padding: 7px 10px;
    }
}
.timepicker {
    padding-top: 0.6rem;
    padding-bottom: 0.61rem;
}

// tree

.p-tree {
    padding: 0;
}

// menu

.p-menu {
    .p-submenu-header {
        margin: 0;
        padding: 0.5rem 1.25rem;
    }
}

.data-table {
    @media (max-width: 1024px) {
        table {
            display: block;
            min-width: 0 !important;
            max-width: 100%;

            thead {
                display: none;
            }

            tbody {
                display: block;
                tr {
                    display: block;
                    border-bottom: 1px solid $borderColor;
                    margin-bottom: 1rem;
                }

                td {
                    display: block;
                    text-align: left;
                    padding: 0.5rem;
                    border-bottom: 1px solid $borderColor;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 0.5rem;
                    > div {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        gap: 0.5rem;
                    }
                }
            }
        }
    }
}
