.p-panelmenu {
    .p-panelmenu-header {
        outline: 0 none;

    

        &:not(.p-highlight):not(.p-disabled):hover {
            .p-panelmenu-header-content {
                background: $accordionHeaderHoverBg;
                border-color: $accordionHeaderHoverBorderColor;
                color: $accordionHeaderTextHoverColor;
            }
        }
        :not(.p-disabled).p-highlight:hover .p-panelmenu-header-content {
            background: $accordionHeaderActiveBg;
            color: $accordionHeaderTextActiveHoverColor;
        }
        &:not(.p-disabled).p-highlight {
            .p-panelmenu-header-content {
                background: $accordionHeaderActiveBg;
                border-color: $accordionHeaderActiveBorderColor;
                color: $accordionHeaderTextActiveColor;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                margin-bottom: 0;
                .p-panelmenu-header-action {
                    color: $accordionHeaderTextActiveColor;
                }
            }

            &:hover {
                .p-panelmenu-header-content {
                    background: $accordionHeaderActiveBg;
                    color: $accordionHeaderTextActiveHoverColor;
                }
            }
        }
    }
}
