<div
    class="header flex align-items-center p-2 text-white justify-content-between row-gap-3"
>
    <div class="flex align-items-center font-bold text-2xl h-10">
        <span
            #menuButton
            (click)="toggleMenu($event)"
            class="pi pi-bars icon text-gray-800 cursor-pointer"
        ></span>

        <p-overlayPanel #menu>
            <div class="flex flex-column gap-3">
                <numo-left-menu [items]="items"></numo-left-menu>
            </div>
        </p-overlayPanel>
        <p-overlayPanel #storyMenu>
            <div class="flex flex-column gap-3">
                <numo-left-menu [items]="items"></numo-left-menu>
            </div>
        </p-overlayPanel>

        <img class="ml-3" height="30" src="logo.png" alt="logo" />
    </div>
    <div class="flex justify-center relative w-30rem">
        <p-iconField iconPosition="right" class="w-full">
            <p-inputIcon>
                <numo-icon icon="tabler:search" type="iconify"></numo-icon>
            </p-inputIcon>
            <input type="text" pInputText placeholder="Meklēt" class="w-full" />
        </p-iconField>
    </div>

    <div>
        <p-menubar
            [model]="userMenuItems"
            styleClass="p-0 custom-menubar bg-transparent hover:bg-transparent w-20rem border-transparent hover:bg-transparent "
        />
    </div>
</div>
