<div
    class="header flex align-items-center p-2 text-white justify-content-between row-gap-3"
>
    <div class="flex align-items-center font-bold text-2xl h-10">
        <span
            #menuButton
            (click)="toggleMenu($event)"
            class="pi pi-bars icon text-gray-800 cursor-pointer"
        ></span>

        <p-overlayPanel #menu>
            <div class="flex flex-column gap-3">
                <numo-left-menu [items]="items"></numo-left-menu>
            </div>
        </p-overlayPanel>
        <p-overlayPanel #storyMenu>
            <div class="flex flex-column gap-3">
                <numo-left-menu [items]="items"></numo-left-menu>
            </div>
        </p-overlayPanel>

        <img class="ml-3" height="30" src="logo.png" alt="logo" />
    </div>
    <div class="flex justify-center relative w-30rem">
        <p-iconField iconPosition="right" class="w-full">
            <p-inputIcon>
                <numo-icon icon="tabler:search" type="iconify"></numo-icon>
            </p-inputIcon>
            <input type="text" pInputText placeholder="Meklēt" class="w-full" />
        </p-iconField>
    </div>

    <div class="flex justify-content-end">
        <p-menu #userMenu [model]="userMenuItems" [popup]="true">
            <ng-template pTemplate="submenuheader" let-item>
                <span class="text-primary font-bold px-3"
                    >{{ item.label }}</span
                >
            </ng-template>
            <ng-template pTemplate="item" let-item>
                <a pRipple class="flex align-items-center p-menuitem-link">
                    <numo-icon
                        icon="{{ item.icon }}"
                        type="iconify"
                    ></numo-icon>
                    <span class="ml-2">{{ item.label }}</span>

                    <span
                        *ngIf="item.shortcut"
                        class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1"
                    >
                        {{ item.shortcut }}
                    </span>
                </a>
            </ng-template>
        </p-menu>

        <div
            (click)="showUserMenu($event)"
            class="usermenu cursor-pointer py-1"
        >
            Jānis Bērziņš
            <div class="text-ellipsis text-xs">
                Liepājas valstspilsētas pašvaldības aģentūra "Liepājas
                Sabiedriskais transports"
            </div>
        </div>
    </div>
</div>
